*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

.container-header{
    font-family: var(--fonts);
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-direction: column;
    width: 100%; 
    height: auto;
    background-image: linear-gradient(to top right, #ffffff,#21e621 );
    position: fixed;
    top: 0;

}


nav ul {
     height: auto;
    width: auto;
    list-style-type:none;
    padding: 0;
    margin: 0;
    display: flex; /* Hace que los elementos de la lista se muestren en línea (horizontalmente) */
    justify-content:space-between
}

header nav ul li {
    height: auto;
    width: auto;
    background-color: #ffffff;
    margin: 5px;
    
}

body{

    display: flex;    
    width: 100%;     
    flex-direction: column;
    background-color: #ffffff;
    margin: 100px 0 10px 0;
    padding: 0%;
    text-align:center;
    flex-direction: column;
}

.contenedor_titulo{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;





}

.titulo_1{
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
    justify-items: center;
    text-align: center;
}

.container-main{
    display: flex;
    background-color: rgb(255, 255, 255);
    width: 100%; 
    height: auto;
    justify-content:space-around;
    flex-direction:row;
    align-items: baseline;
    flex-wrap: wrap;
    
  
    
}


.container-form-img{   
    display: flex;    
    background-color: rgb(255, 255, 255);
    width: auto;
    height: auto;   
    flex-wrap: wrap;

}

.container-form{
    display: flex;
     width: 100%; 
    height: 100%;
    background-color: rgb(255, 255, 255);    
    flex-wrap: wrap;
}

.container-img-main{
    display: flex;
    width: 350px; 
    height: auto;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    align-items: center;    
    margin: 0 15px 0 15px;
}


.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    transition: box-shadow 0.3s ease; /* Agregamos una transición suave */
    margin: 0 15px 0 15px;
}

.login-container:hover {
    box-shadow: 0 0 20px rgba(85, 197, 10, 0.2); /* Cambiamos la sombra en hover */
}





h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #4aa110;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #38e621;
}


.container-footer {
    background-image: linear-gradient(to top right, #21e621,#ffffff );
    color: #fff;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.container-footer nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.container-footer nav ul li {
    margin: 0 10px; /* Ajusta el valor del margen según tus preferencias */
}

.container-footer p {
    text-align: center;
}