<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documssasent</title>
</head>

<body>

    <nav>
        <ul>
            <li>
                <a href="/">home</a>
            </li>


            {% if user.is_authenticated %}
            <li>
                <p>Bienvenido</p>
                <a href="/logout">cerrar sesion</a>
            </li>

            {% else %}
            <li>
                <a href="/signup">Registrarse</a>
            </li>

            <li>
                <a href="/signin">Iniciar sesion</a>
            </li>
            {% endif %}








        </ul>
    </nav>
    {% block content %}

    {% endblock %}

    <footer>
        soy un footer
    </footer>


</body>

</html>