{% extends 'base.html' %}


{% block content %}
<form action="/signup/" method="POST">


    {{error}}
    {% csrf_token %}
    {{form.as_p}}

    <button>
        Signup
    </button>
</form>
{% endblock %}