{% extends 'base.html' %}

{% block content %}
<p>Ingrese sus creden</p>
{{error}}
<form action="/signin/" method="POST">
    {% csrf_token %}

    {{form.as_p}}
    <button>
        Entrar
    </button>
</form>

{% endblock %}